.footer {
  background-color: var(--color-grey-footer);
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 16px 12px;
  height: 60px;
  color: var(--color-white-text);
}
