.topline {
  background-color: var(--topline-color);
  color: var(--color-white-text);
  font-weight: medium;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 168px;
  text-align: center;
}

